*.htaccess
*.py
!/public/**
_work/**
*.kdbx
*.pth
**/kontakte/**
*.csv
*.bak
/bootstrap/cache/
/.phpunit.cache
/node_modules
**/connnfi/**
/storage/*.key
/storage/debugbar/**
/public/*.sql
*.log
public/files/_ab/kontakte/**
/public/build
/public/hot
/public/storage
**/orig/**
vendor/
.env
**/tmp/**
*.bat
*.cmd
tables.sql
repo-backup*
First_Commmit_dag_No_User.sql
First_Commmit_mfx_No_User.sql
First_Commmit_chh_No_User.sql
First_Commmit_pna_No_User.sql
/database/dumps/Newer_Data_dag_*.sql
/database/dumps/Newer_Data_mfx_*.sql
/database/dumps/Newer_Data_chh_*.sql
!README.md
info.php
**/DATAFILES/**
**/images_gallerys/**
*.sh
bootstrap/ssr/assets/**
**/dataset/**
*.yml
**/phpmyadmin/**
**/new_phpmyadmin/**
/public/_assets/**
/public/build/**
# Ausnahme: bestimmte Datei tracken

!resources/views/**
!vendor/laravel/jetstream/**
!vendor/laravel/framework/src/Illuminate/Http/**
!public/css/webfonts
.env.backup
app/Models/FilterUrls.php
.env.production
.phpunit.result.cache
!public/images/**/index.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
replace.txt
/.idea
/.vscode
.vite/**
/node_modules/
ifo.php
handbook/
handbook_new/
storage/**
public/build
storage/logs
handbook_admin/.vitepress/dist
handbook_admin/.vitepress/cache
database/migrations/2025_06_28_000000_create_tenants_table.php_old
database/migrations/2025_06_15_132002_add_commentedit_to_users_rights_table.php_old
index.outwork.php
index.inwork.php
index.php
index.html


public/images/_ab/web/alogo_new schrott.png
public/images/_ab/images/image_path/thumbs/681128f911efc17943da7084bc69b784.jpg
public/images/_ab/images/image_path/big/681128f911efc17943da7084bc69b784.jpg
public/images/_ab/images/image_path/681128f911efc17943da7084bc69b784.jpg
*.ps1
*.dat
**/toolz/fontz/**
build_pna_css.js
buildcss.js
resources/js/Application/Components/Social/old_share.vue
tailwind_colors_pna.js
app/Console/Commands/resimgz_pna.php

# fix js files
# node_modules komplett ignorieren
node_modules/

# Diese Dateien trotzdem erlauben
!node_modules/@inertiajs/
!node_modules/@inertiajs/core/
!node_modules/@inertiajs/core/dist/
!node_modules/@inertiajs/core/dist/index.esm.js
!node_modules/@inertiajs/core/dist/index.js

!node_modules/.vite/
!node_modules/.vite/deps/
!node_modules/.vite/deps/@inertiajs_vue3.js

!node_modules/@vue/
!node_modules/@vue/shared/
!node_modules/@vue/shared/dist/
!node_modules/@vue/shared/dist/shared.cjs.js
ri.vue
public/images/_pna/graf_logo_prev.jpg
database/dumps/First_Commmit_ab_No_User.sql
database/dumps/asd/First_Commmit_ab_No_User.sql
database/dumps/First_Commmit_ab_No_User.sql
public/images/web/arrow_remote.png
public/aaaindex.php
contacts.png
tes6t.txt
test.txt
